{"filter":false,"title":".htaccess","tooltip":"/tpv2/.htaccess","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":0,"column":0},"end":{"row":4,"column":47},"action":"insert","lines":["RewriteEngine On","RewriteRule ^$ index.php [L]","RewriteCond %{REQUEST_FILENAME} !-d","RewriteCond %{REQUEST_FILENAME} !-f","RewriteRule ^(.*)$ index.php?urlparams=$1 [QSA]"],"id":1}]]},"ace":{"folds":[],"scrolltop":0,"scrollleft":0,"selection":{"start":{"row":0,"column":16},"end":{"row":0,"column":16},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":0},"timestamp":1520377191450,"hash":"d3b1dc6cd3c9ee4adc276de91919b7666c405dc7"}